- @user ||= current_user
.small-3.columns
  %strong
    Posts
    %br
    = @user.postings.count
.small-5.columns.left-border  
  %a{:href => following_path(@user)}
    %strong
      Following
      %br
      = @user.followed_users.count
    
.small-4.columns.left-border     
  %a{:href => followers_path(@user)}
    %strong
      Followers
      %br
      = @user.followers.count
    